@model MonthlyStatement.Models.Profile

<section class="vh-200" style="background-color: #f4f5f7;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 mb-4 mb-lg-0">
                <div class="card mb-3" style="border-radius: .5rem;">
                    <div class="row g-0">
                        <div class="col-md-4 gradient-custom text-center text-white"
                             style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                            <img src="~/assets/img/user.png"
                                 alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                            @if (Model.user_name == null)
                            {
                                <h5 style="color: black">Chưa có tên</h5>
                            }
                            else
                            {
                                if (Model.user_name.Count() < 1)
                                {
                                    <h5 style="color: black">Chưa có tên</h5>
                                }
                                else
                                {
                                    <h5 style="color: black">@Model.user_name</h5>

                                }
                            }
                            <div>
                                @if (@Model.AspNetUser == null)
                                {
                                    <div class="text-muted mb-0">Chưa có vai trò</div>
                                }
                                else
                                {
                                    if (@Model.AspNetUser.AspNetRoles.Count() < 1)
                                    {
                                        <div class="text-muted mb-0">Chưa có vai trò</div>
                                    }
                                    else
                                    {
                                        <div class="text-muted mb-0">
                                            @Model.AspNetUser.AspNetRoles.FirstOrDefault().Name
                                        </div>
                                    }
                                }
                            </div>
                            <button data-toggle="modal" data-target="#editProfile" class="btn btn-primary">Chỉnh sửa</button>

                        </div>
                        <div class="col-md-8">
                            <div class="card-body p-4">
                                <h6>THÔNG TIN TÀI KHOẢN</h6>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Email</h6>
                                        <p class="text-muted">@Model.AspNetUser.Email</p>
                                    </div>

                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>MGV</h6>
                                        <div class="text-muted">
                                            @if (@Model.user_code == null)
                                            {
                                                <p class="text-muted mb-0">Chưa có mã giảng viên</p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-0">@Model.user_code</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Khoa</h6>
                                        <div class="text-muted">
                                            @if (@Model.faculty_id == null)
                                            {
                                                <p class="text-muted mb-0">Chưa có khoa</p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-0">@Model.Faculty.faculty_name</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Bộ môn</h6>
                                        <div class="text-muted">
                                            @if (@Model.department_id == null)
                                            {
                                                <p class="text-muted mb-0">Chưa có bộ môn</p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-0">@Model.DepartmentList.department_name</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <hr class="mt-0 mb-4">
                                <div class="row pt-1">
                                    <div class="col-6 mb-3">
                                        <h6>Đăng nhập lần cuối</h6>
                                        <div class="text-muted">
                                            @if (@Model.last_login == null)
                                            {
                                                <p class="text-muted mb-0"></p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-0">@Model.last_login.Value.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                            }
                                        </div>
                                    </div>
                                    <div class="col-6 mb-3">
                                        <h6>Đăng xuất lần cuối</h6>
                                        <div class="text-muted">
                                            @if (@Model.last_logout == null)
                                            {
                                                <p class="text-muted mb-0"></p>
                                            }
                                            else
                                            {
                                                <p class="text-muted mb-0">@Model.last_logout.Value.ToString("dd/MM/yyyy HH:mm:ss")</p>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* button edit profile *@
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit_Profile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <form class="">
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email" name="email" value="@Model.AspNetUser.Email" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập họ và tên" name="name" value="@Model.user_name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Mã giảng viên</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập mã giảng viên" name="user_code" value="@Model.user_code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Bộ môn</label>
                            <div class="selectric-wrapper selectric-form-control selectric-selectric selectric-below">
                                <div class="selectric-hide-select">
                                    @Html.DropDownList("department_id", null, htmlAttributes: new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu thông tin</button>
                            <button type="button" class="btn btn-secondary m-t-15" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>

