@model MonthlyStatement.Models.Profile

@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string avt = "";
    if (Session["Avt"] != null)
    {
        avt = Session["Avt"].ToString();
    }
    else
    {
        avt = "~/assets/img/user.png";
    }
}
<style>
    .avatar-wrapper {
        position: relative;
        height: 200px;
        width: 200px;
        margin: 50px auto;
        border-radius: 50%;
        overflow: hidden;
        box-shadow: 1px 1px 15px -5px black;
        transition: all .3s ease;
        &:hover

    {
        transform: scale(1.05);
        cursor: pointer;
    }

    &:hover .profile-pic {
        opacity: .5;
    }

    .profile-pic {
        height: 100%;
        width: 100%;
        transition: all .3s ease;
        &:after

    {
        font-family: FontAwesome;
        content: "\f007";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        font-size: 190px;
        background: #ecf0f1;
        color: #34495e;
        text-align: center;
    }

    }

    .upload-button {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        .fa-arrow-circle-up


    {
        position: absolute;
        font-size: 234px;
        top: -17px;
        left: 0;
        text-align: center;
        opacity: 0;
        transition: all .3s ease;
        color: #34495e;
    }

    &:hover .fa-arrow-circle-up {
        opacity: .9;
    }
</style>
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="@Url.Content(avt)" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3"></h5>
                    </div>
                </div>
                <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#editProfile">Chỉnh sửa</button>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tài khoản:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.AspNetUser.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Khoa:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.Faculty.faculty_name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Tên:</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.user_name</p>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@* button edit profile *@
<div class="modal fade" id="editProfile" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Chỉnh sửa thông tin</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @using (Html.BeginForm("Edit_Profile", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="modal-body">
                    <form class="">
                        <div class="avatar-wrapper">
                            <div class="upload-button">
                                <img id="blah" class="profile-pic" src="@Url.Content(avt)" width="200" aria-hidden="true" />
                            </div>
                            <input class="file-upload" type="file" name="avt" accept="image/*" id="exampleFormControlFile1" />
                            <script>
                                exampleFormControlFile1.onchange = evt => {
                                    const [file] = exampleFormControlFile1.files
                                    if (file) {
                                        blah.src = URL.createObjectURL(file)
                                    }
                                }
                            </script>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Email" name="email" value="@Model.AspNetUser.Email" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Khoa</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Khoa" name="faculty" value="@Model.Faculty.faculty_name" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Họ và tên" name="name" value="@Model.user_name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary m-t-15 waves-effect">Lưu thông tin</button>
                            <button type="button" class="btn btn-secondary m-t-15" data-dismiss="modal">Đóng</button>
                        </div>
                    </form>
                </div>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {

        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.profile-pic').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(".file-upload").on('change', function () {
            readURL(this);
        });

        $(".upload-button").on('click', function () {
            $(".file-upload").click();
        });
    });
</script>