@model  MonthlyStatement.Models.FormPersonalReport
@using MonthlyStatement.Models

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstCategory = Session["FormPersonalEdit-lstCategory"] as IEnumerable<Category>;
}


<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Báo cáo cá nhân: @Model.ReportPeriod.report_period_name</h4>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Tên người tạo mẫu báo cáo</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nhập tên người tạo">
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Tên mẫu báo cáo</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Nhập mẫu báo cáo">
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-2">
                                        <thead>
                                            <tr>
                                                <th class="text-center pt-3">
                                                </th>
                                                <th>Tên danh mục</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in lstCategory.Where(c => c.category_of_id == null).ToList())
                                        {
                                            <tbody>
                                                <tr>
                                                    <td class="text-center pt-2">
                                                        <div class="pretty p-switch p-fill">
                                                            <input name="@item.category_id" type="checkbox" id="categorylv1-@item.category_id" value="@item.category_id" />
                                                            <div class="state">
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>@item.category_content</td>
                                                    <td><a href="#" class="btn btn-primary">Edit</a></td>
                                                </tr>
                                            </tbody>
                                            foreach (var items in lstCategory.Where(c => c.category_of_id == item.category_id).ToList())
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center pt-2">
                                                            <div class="pretty p-switch p-fill">
                                                                <input name="@items.category_of_id" type="checkbox" id="@(items.category_of_id)categorylv2-@(items.category_id)" value="@item.category_id" />
                                                                <div class="state">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="media mt-3">
                                                                <div class="pr-5" href="#">
                                                                </div>@items.category_content
                                                            </div>
                                                        </td>
                                                        <td><a href="#" class="btn btn-primary">Edit</a></td>
                                                    </tr>
                                                </tbody>
                                            }
                                        }
                                    </table>
                                </div>
                                <div class="text-right">
                                    <button class="btn btn-primary mr-1" type="submit">Lưu báo cáo</button>
                                    <button class="btn btn-danger " type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('[id*="categorylv2-"]').on('input', function () {
            var id = $(this).attr('name');
            if ($(this).prop('checked')) {
                if ($('#categorylv1-' + id).prop('checked') == false) {
                    $('#categorylv1-' + id).prop('checked', true);
                }
            } else {
                var check = false;
                $('[id^="' + id + 'categorylv2-"]').each(function () {
                    if ($(this).prop('checked')) {
                        check = true;
                    }
                });
                if (check == false) {
                    $('#categorylv1-' + id).prop('checked', false);
                }
            }
        });
    });
</script>



