@model MonthlyStatement.Models.ReportPeriod

@{
    ViewBag.Title = "FormReports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FormReports", "ReportPeriods", FormMethod.Post, new { }))
{
<div class="card">
    <div class="card-header bg-primary" style="height:100px">
        <h4 class="text-white" style="font-size:1.75rem">@Model.report_period_name</h4>
    </div>
</div>
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="empty-state" data-height="400">
                                <div class="empty-state-icon">
                                    <i class="fas fa-user-alt"></i>
                                </div>
                                <h2>Bộ môn</h2>
                                <a href="@Url.Action("FormDepartmentDetail", "ReportPeriods", new { id = Model.FormDepartmentReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_department_report_id})" class="btn btn-light mt-4">Xem chi tiết</a>
                                <a href="@Url.Action("FormDepartmentEdit", "ReportPeriods", new { id = Model.FormDepartmentReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_department_report_id})" class="btn btn-primary mt-4">Chỉnh sửa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="empty-state" data-height="400">
                                <div class="empty-state-icon bg-danger">
                                    <i class="fas fa-user"></i>
                                </div>
                                <h2>Giảng viên</h2>
                                <a href="@Url.Action("FormPersonalDetail", "ReportPeriods", new { id = Model.FormPersonalReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_personal_report_id})" class="btn btn-light mt-4">Xem chi tiết</a>
                                <a href="@Url.Action("FormPersonalEdit", "ReportPeriods", new { id = Model.FormPersonalReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_personal_report_id})" class="btn btn-warning mt-4">Chỉnh sửa</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                        </div>
                        <div class="card-body">
                            <div class="empty-state" data-height="400">
                                <div class="empty-state-icon bg-brown">
                                    <i class="fas fa-user"></i>
                                </div>
                                <h2>Nhân viên</h2>
                                <a href="@Url.Action("FormStaffDetail", "ReportPeriods", new { id = Model.FormPersonalReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_personal_report_id})" class="btn btn-light mt-4">Xem chi tiết</a>
                                <a href="@Url.Action("FormStaffEdit", "ReportPeriods", new { id = Model.FormPersonalReports.FirstOrDefault(f => f.report_period_id == Model.report_period_id).form_personal_report_id})" class="btn btn-warning mt-4">Chỉnh sửa</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

