@model  MonthlyStatement.Models.FormDepartmentReport
@using MonthlyStatement.Models

@{
    ViewBag.Title = "FormDepartmentEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var lstCategory = Session["FormDepartmentEdit-lstCategory"] as IEnumerable<Category>;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Báo cáo bộ môn: @Model.ReportPeriod.report_period_name</h4>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <label for="exampleFormControlInput1">Người tạo mẫu báo cáo</label>
                                    <input value="@Session["Email"]" type="email" class="form-control" id="emailUser" readonly>
                                    <input value="@Model.form_department_report_id" id="idReportPeriod" hidden="hidden">
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-striped" id="table-2">
                                        <thead>
                                            <tr>
                                                <th class="text-center pt-3">
                                                </th>
                                                <th>Tên danh mục</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        @foreach (var item in lstCategory.Where(c => c.category_of_id == null).ToList())
                                        {
                                            <tbody>
                                                <tr>
                                                    <td class="text-center pt-2">
                                                        <div class="pretty p-switch p-fill">
                                                            <input name="@item.category_id" type="checkbox" id="categorylv1-@item.category_id" value="@item.category_id" />
                                                            <div class="state">
                                                                <label></label>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="font-weight:bold">
                                                        <label id="category_name-@item.category_id">
                                                            @item.category_content
                                                        </label>
                                                    </td>
                                                    <td>
                                                        <a href="#" class="btn btn-primary" id="editCategory-@item.category_id" name="@item.category_id">Edit</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            foreach (var items in lstCategory.Where(c => c.category_of_id == item.category_id).ToList())
                                            {
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center pt-2">
                                                            <div class="pretty p-switch p-fill">
                                                                <input name="@items.category_of_id" type="checkbox" id="@(items.category_of_id)categorylv2-@(items.category_id)" value="@items.category_id" />
                                                                <div class="state">
                                                                    <label></label>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="media mt-3">
                                                                <div class="pr-5" href="#">
                                                                </div>
                                                                <label id="category_name-@items.category_id">
                                                                    @items.category_content
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <a href="#" class="btn btn-primary" id="editCategory-@(items.category_id)" name="@items.category_id">Edit</a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            }
                                        }
                                    </table>
                                </div>
                                <div class="text-right">
                                    <a href="#" role="button" class="btn btn-primary" id="saveForm">Lưu báo cáo</a>
                                    <button class="btn btn-danger " type="reset">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
    $(document).ready(function () {
        //button edit category
        $('[id^="editCategory-"]').click(function () {
            let id = $(this).attr("name");
            Swal.fire({
                title: 'Chỉnh sửa danh mục',
                input: 'text',
                inputAttributes: {
                    autocapitalize: 'off'
                },
                showCancelButton: true,
                confirmButtonText: 'Ok',
                showLoaderOnConfirm: true,
                preConfirm: (text) => {
                    if (text.trim().length < 1) {
                        Swal.showValidationMessage(
                            `Không được bỏ trống`)
                        return false;
                    } else {
                        $.ajax({
                            type: "POST",
                            traditional: true,
                            async: false,
                            cache: false,
                            url: $('#requestUrl').val() + 'Categories/EditCategory',
                            data: {
                                id: id,
                                name: text.trim()
                            },
                            context: document.body,
                            success: function (result) {
                                if (result == "Success") {
                                    $('#category_name-' + id).text(text.trim());
                                    Swal.fire('Chỉnh sửa thành công','Bạn đã chỉnh sửa danh mục thành công','success'
                                    )
                                }
                                else {
                                    Swal.fire('Không thành công', result, 'error')
                                }
                            },
                            error: function (xhr) {
                                swal(xhr.responseText, {
                                    icon: 'error',
                                });
                                //debugger;
                                console.log(xhr.responseText);
                                alert("Error has occurred..");
                            }
                        });
                    }               
                },
                allowOutsideClick: () => !Swal.isLoading()
            })
        });
        //radio button
        $('[id*="categorylv2-"]').on('input', function () {
            var id = $(this).attr('name');
            if ($(this).prop('checked')) {
                if ($('#categorylv1-' + id).prop('checked') == false) {
                    $('#categorylv1-' + id).prop('checked', true);
                }
            } else {
                var check = false;
                $('[id^="' + id + 'categorylv2-"]').each(function () {
                    if ($(this).prop('checked')) {
                        check = true;
                    }
                });
                if (check == false) {
                    $('#categorylv1-' + id).prop('checked', false);
                }
            }
        });
        $('[id*="categorylv1-"]').on('input', function () {
            var id = $(this).attr('name');
            if ($(this).prop('checked') == false) {
                $('[name="' + id + '"]').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });

        //button save form
        $('#saveForm').on('click', function () {
            var idReport = $('#idReportPeriod').val();
            var data = "";
            $(':checkbox').each(function () {
                if ($(this).prop('checked')) {
                    data += $(this).val() + "-";
                }
            });
            swal({
                title: 'Lưu biểu mẫu?',
                text: 'Bạn có muốn lưu biểu mẫu?',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
                .then((willAdd) => {
                    if (willAdd) {
                        $.ajax({
                            type: "POST",
                            traditional: true,
                            async: false,
                            cache: false,
                            url: $('#requestUrl').val() + 'ReportPeriods/FormDepartmentEdit',
                            data: {
                                idReport: idReport,
                                data: data.substring(0, data.length - 1)
                            },
                            context: document.body,
                            success: function (result) {
                                if (result == "Success") {
                                    swal('Thêm thành công', {
                                        icon: 'success',
                                    });
                                } else {
                                    swal(result, {
                                        icon: 'error',
                                    });
                                }
                            },
                            error: function (xhr) {
                                swal(xhr.responseText, {
                                    icon: 'error',
                                });
                                //debugger;
                                console.log(xhr.responseText);
                                alert("Error has occurred..");
                            }
                        });

                    }
                });
        });
    });
</script>

