@*@model IEnumerable<MonthlyStatement.Models.PersonalReport>*@

@{
    int i = 0;
    ViewBag.Title = "Personal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Danh sách báo cáo</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" id="Search" placeholder="Tìm kiếm" aria-label="Search" data-width="200" style="width: 200px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">STT</th>
                                        <th>Email</th>
                                        <th>Kỳ báo cáo</th>
                                        <th>Ngày báo cáo</th>
                                        <th>Vai trò</th>
                                        <th>Trạng thái</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="Search">
                                        <td class="text-center">
                                            1
                                        </td>
                                        <td>
                                            khuong.197pm09466@vanlanguni.vn
                                        </td>
                                        <td>
                                            Kỳ báo cáo tháng 12-2022
                                        </td>
                                        <td>
                                            12/20/2022
                                        </td>
                                        <td>
                                            Nhân viên- Giảng viên
                                        </td>
                                        <td>
                                            <div class="badge badge-success">Đã báo cáo</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="buttons">
                                                <a class="btn btn-icon btn-primary" data-original-title="Thông tin" href="@Url.Action("PersonalDetail","PersonalReportForm")">
                                                    Xem
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="Search">
                                        <td class="text-center">
                                            2
                                        </td>
                                        <td>
                                            khuong.197pm09466@vanlanguni.vn
                                        </td>
                                        <td>
                                            Kỳ báo cáo tháng 1-2023
                                        </td>
                                        <td>
                                            ...
                                        </td>
                                        <td>
                                            Nhân viên- Giảng viên
                                        </td>
                                        <td>
                                            <div class="badge badge-danger">Chưa báo cáo</div>
                                        </td>
                                        <td class="text-center">
                                            <div class="buttons">
                                                <a class="btn btn-icon btn-primary" data-original-title="Thông tin" href="@Url.Action("PersonalDetail","PersonalReportForm")">
                                                    Xem
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>


@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.file_path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comment_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment.comment_content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReportPeriod.report_period_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.file_path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.comment_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment.comment_content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReportPeriod.report_period_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.personal_report_id }) |
                @Html.ActionLink("Details", "Details", new { id = item.personal_report_id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.personal_report_id })
            </td>
        </tr>
    }

</table>*@
