@model IEnumerable<MonthlyStatement.Models.Faculty>

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
@{
    ViewBag.Title = "Index";
    int i = 0;

    DateTime Date = ViewBag.Date;
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Quản lý thống kê báo cáo</h4>
                    </div>
                    <div class="card-body">
                        <form action="@Url.Action("Index","Statistical")">
                            <div class="row" style="margin-bottom: 20px">
                                <div class="col-sm-12 col-md-3">
                                    <input name="date" type="month" class="form-control" value="@Date.ToString("yyyy-MM")">
                                </div>

                                <div class="col-sm-12 col-md-1">
                                    <button type="submit" class="btn btn-icon btn-primary">
                                        Lọc
                                    </button>
                                </div>
                                <div class="col-sm-12 col-md-2">
                                    <a class="btn btn-icon btn-primary" href="@Url.Action("ExportToExcel","Statistical")">Xuất file excel</a>
                                </div>
                            </div>

                        </form>
                        

                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">STT</th>
                                        <th>
                                            Bộ môn
                                        </th>
                                        <th>Nhân viên</th>
                                        <th>Giảng viên</th>
                                        <th>Chưa cấp quyền</th>
                                        <th>Đã báo cáo</th>
                                        <th>Chưa báo cáo</th>
                                        <th>Báo cáo trễ</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        i++;
                                        <tr class="Search">

                                            <th class="text-center">@i</th>
                                            <th>
                                                Hong lấy được tên các bộ môn
                                            </th>
                                            <th>@item.Profiles.Count(x => x.AspNetUser?.AspNetRoles?.FirstOrDefault().Name == "Nhân viên")</th>
                                            <th>@item.Profiles.Count(x => x.AspNetUser?.AspNetRoles?.FirstOrDefault().Name == "Giảng viên")</th>
                                            <th>@item.Profiles.Count(x => x.AspNetUser?.AspNetRoles?.FirstOrDefault() == null)</th>
                                            <th>
                                                <div class="badge badge-success">
                                                    @item.Profiles.Count(x => x.AspNetUser?.PersonalReports?.Count(y => y.status == "Đã báo cáo" && y.ReportPeriod.start_date >= Date && y.ReportPeriod.end_date < Date.AddMonths(1)) > 0)
                                                </div>
                                            </th>
                                            <th>
                                                <div class="badge badge-danger">
                                                    @item.Profiles.Count(x => x.AspNetUser?.PersonalReports == null)

                                                </div>
                                            </th>
                                            <th>
                                                <div class="badge badge-warning">
                                                    @item.Profiles.Count(x => x.AspNetUser?.PersonalReports?.Count(y => y.status == "Trễ báo cáo" && y.ReportPeriod.start_date >= DateTime.Now && y.ReportPeriod.end_date <= DateTime.Now) > 0)
                                                </div>
                                            </th>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>








