@*@model MonthlyStatement.Models.PersonalReportDetail*@

@{
    ViewBag.Title = "PersonalDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Thông tin báo cáo của ...</h4>
                    </div>
                </div>
                <div class="col-12">
                    @using (Html.BeginForm())
                    {
                        <div class="card">
                            <div class="card-body">
                                @*THÔNG TIN NHÂN SỰ*@
                                <div class="section-title mt-1" style="font-weight:bold">
                                    <label>A. </label>
                                    THÔNG TIN NHÂN SỰ
                                </div>
                                <div class="section-title mt-2">
                                    <div class="form-group row" style="margin-bottom:1px">
                                        <div class="col-lg-2" style="max-width:10.7%">
                                            <label style="font-size:14px; font-weight:600; line-height:42px">Họ và tên:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input style="width:300px" type="text" class="form-control" id="exampleFormControlInput1" value="Trần Khương" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom:1px">
                                        <div class="col-lg-2" style="max-width:10.7%">
                                            <label style="font-size:14px; font-weight:600; line-height:42px">Email:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input style="width:300px" type="email" class="form-control" id="exampleFormControlInput1" value="khuong.197pm09466@vanlanguni.vn" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom:1px">
                                        <div class="col-lg-2" style="max-width:10.7%">
                                            <label style="font-size:14px; font-weight:600; line-height:42px">Khoa:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input style="width:300px" type="text" class="form-control" id="exampleFormControlInput1" value="Công Nghệ Thông Tin" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom:1px">
                                        <div class="col-lg-2" style="max-width:10.7%">
                                            <label style="font-size:14px; font-weight:600; line-height:42px">Chức vụ:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input style="width:300px" type="text" class="form-control" id="exampleFormControlInput1" value="Nhân Viên - Giảng Viên" disabled>
                                        </div>
                                    </div>
                                    <div class="form-group row" style="margin-bottom:1px">
                                        <div class="col-lg-2" style="max-width:10.7%">
                                            <label style="font-size:14px; font-weight:600; line-height:42px">Ngày báo cáo:</label>
                                        </div>
                                        <div class="col-lg-10">
                                            <input style="width:300px" type="text" class="form-control" id="exampleFormControlInput1" value="20/12/2022" disabled>
                                        </div>
                                    </div>
                                </div>

                                @*CÔNG VIỆC THỰC HIỆN THEO KPI*@
                                <div class="section-title mt-3" style="font-weight:bold">
                                    <label>B. </label>
                                    CÔNG VIỆC THỰC HIỆN THEO KPI
                                </div>
                                <div class="section-title mt-0 row" style="margin-bottom:1px; padding-left:0.25rem">
                                    <div class="col-lg-12">
                                        @*<label style="font-size:14px; font-weight:600; line-height:42px">1.1</label>
                                        Công tác giảng dạy*@
                                        <table class="table table-bordered dataTable">
                                            <tbody>
                                                <tr>
                                                    <th>1.1</th>
                                                    <th>Công tác giảng dạy</th>
                                                    <th>Tổng tiết/giờ</th>
                                                    <th>Lớp/Nhóm</th>
                                                    <th>Thứ</th>
                                                    <th>Ca</th>
                                                    <th>Ghi chú</th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Lập trình hướng đối tượng" disabled>
                                                    </td>
                                                    <td style="width:12%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="6" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="221_71ITSE30203_03" disabled>
                                                    </td>
                                                    <td style="width:10%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Thứ 2" disabled>
                                                    </td>
                                                    <td style="width:6%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="1" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Ghi chú" disabled>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">2</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Lập trình hướng đối tượng" disabled>
                                                    </td>
                                                    <td >
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="6" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="221_71ITSE30203_03" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Thứ 2" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="1" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="Ghi chú" disabled>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered dataTable">
                                            <tbody>
                                                <tr>
                                                    <th>1.2</th>
                                                    <th>Công tác nghiên cứu khoa học (Theo QĐ 1514/QĐ-ĐHVL ngày 16/11/2021)</th>
                                                    <th>Tạp chí</th>
                                                    <th>Hạng</th>
                                                    <th>Kết quả</th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">Nhóm 1</td>
                                                    <td>
                                                        Nghiên cứu công bố quốc tế (CBQT)
                                                       @* <input type="text" class="form-control" id="exampleFormControlInput1" value="Nghiên cứu công bố quốc tế (CBQT)" disabled>*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>
                                                    </td>
                                                    <td >
                                                        abc
                                                    </td>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">2</td>
                                                    <td>
                                                    </td>
                                                    <td >
                                                        abc
                                                    </td>
                                                    <td>
                                                        5
                                                    </td>
                                                    <td>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-bordered dataTable">
                                            <tbody>
                                                <tr>
                                                    <th>1.3</th>
                                                    <th>Phục vụ cộng đồng và chuyên môn khác (Theo PL1 QĐ 1516/QĐ-ĐHVL ngày 16/11/2021)</th>
                                                    <th>Số lượng</th>
                                                    <th>Kết quả</th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>
                                                        Cố vấn học tập
                                                       @* <input type="text" class="form-control" id="exampleFormControlInput1" value="Nghiên cứu công bố quốc tế (CBQT)" disabled>*@
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">2</td>
                                                    <td>
                                                        Xây dựng đề án mở ngành - CTĐT
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td scope="row">3</td>
                                                    <td>
                                                        Xây dựng đề án mở ngành - ĐCCT
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="section-title mt-3" style="font-weight:bold">
                                    <label>C. </label>
                                    TINH THẦN TRÁCH NHIỆM VỚI NHÀ TRƯỜNG
                                </div>
                                <div class="section-title mt-0 row" style="margin-bottom:1px; padding-left:0.25rem">
                                    <div class="col-lg-12">
                                        <table class="table table-bordered dataTable">
                                            <tbody>
                                                <tr>
                                                    <th>1.1</th>
                                                    <th>Công tác giảng dạy</th>
                                                    <th>Tổng tiết/giờ</th>
                                                    <th>Lớp/Nhóm</th>
                                                    <th>Thứ</th>
                                                    <th>Ca</th>
                                                    <th>Ghi chú</th>
                                                </tr>
                                                <tr>
                                                    <td scope="row">1</td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                    <td style="width:12%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                    <td style="width:10%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                    <td style="width:6%">
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="text" class="form-control" id="exampleFormControlInput1" value="" disabled>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                @*UPLOAD MINH CHỨNG*@
                                <div class="section-title mt-3" style="font-weight:bold">
                                    <label>D. </label>
                                    MINH CHỨNG
                                    <div class="section-title mt-0 row" style="margin-bottom:1px; padding-left:0.25rem">
                                        <div class="col-lg-12">
                                            File minh chứng: 2 file
                                        </div>
                                    </div>
                                </div>
                                @*BUTTON LƯU FORM*@
                                <div style="text-align: center; margin-top: 1.8rem" class="mb-3">
                                    <a style="width: 180px; color: white; " class="btn btn-danger" role="button" href="@Url.Action("Personal","PersonalReportForm")">
                                        Quay lại
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@*<div>
    <h4>PersonalReportDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.personal_report_content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.personal_report_content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormPersonalReportDetail.form_personal_report_detail_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormPersonalReportDetail.form_personal_report_detail_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PersonalReport.file_path)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PersonalReport.file_path)
        </dd>

    </dl>
</div>*@

