@model IEnumerable<MonthlyStatement.Models.AspNetUser>
@{
    int i = 0;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h3 class="text-white" style="font-size:1.75rem">Tài khoản người dùng</h3>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">
                                            STT
                                        </th>
                                        <th>
                                            Tài khoản
                                        </th>
                                        <th>
                                            Họ và tên
                                        </th>
                                        <th>
                                            Khoa
                                        </th>
                                        <th>
                                            Bộ môn
                                        </th>
                                        <th>
                                            Vai trò
                                        </th>
                                        <th class="text-center">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        i = i + 1;

                                        <tr>
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td>
                                                @item.Email
                                            </td>
                                            <td>
                                                @if (item.Profiles.First().user_name == null)
                                                {
                                                    <span>Chưa có tên</span>
                                                }
                                                else
                                                {
                                                    @item.Profiles.FirstOrDefault().user_name
                                                }
                                            </td>
                                            <td>
                                                @if (item.Profiles.First().faculty_id == null)
                                                {
                                                    <span>Chưa có khoa</span>
                                                }
                                                else
                                                {
                                                    @item.Profiles.FirstOrDefault().Faculty.faculty_name
                                                }
                                            </td>
                                            <td>
                                                @if (item.Profiles.First().department == null)
                                                {
                                                    <span>Chưa có bộ môn</span>
                                                }
                                                else
                                                {
                                                    @item.Profiles.FirstOrDefault().department
                                                }
                                            </td>
                                            <td>
                                                @if (item.AspNetRoles.Count() < 1)
                                                {
                                                    <div class="badge badge badge-shadow">Không có vai trò</div>
                                                }
                                                else
                                                {
                                                    @item.AspNetRoles.First().Name
                                                }
                                            </td>
                                            <td class="text-center">
                                                <div class="buttons">
                                                    <a class="btn btn-icon btn-primary" data-original-title="Cấp quyền" href="@Url.Action("Edit", "Accounts", new { id = item.Id })">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>