@model IEnumerable<MonthlyStatement.Models.Profile>

@{
    int i = 0;
}
@{
    ViewBag.Title = "AttendenceList";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h3 class="text-white" style="font-size:1.75rem">Danh sách thành viên</h3>
                    </div>
                    <div class="card-body">
                        <div class="col-sm-12 buttons">
                            <a style="color:white" type="button" class="btn btn-primary btn-round" href="#">
                                <i class="fa fa-plus"></i>
                                Thêm thành viên
                            </a>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">
                                            STT
                                        </th>
                                        <th>
                                            Email
                                        </th>
                                        <th>
                                            Tên
                                        </th>
                                        <th>
                                            Khoa
                                        </th>
                                        <th>
                                            Bộ môn
                                        </th>
                                        <th>
                                            Vai trò
                                        </th>
                                        <th class="text-center">
                                            Thao tác
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        i = i + 1;

                                        <tr>
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td>
                                                @item.AspNetUser.Email
                                            </td>
                                            <td>
                                                @if (item.user_name == null)
                                                {
                                                    <span>Chưa có tên</span>
                                                }
                                                else
                                                {
                                                    @item.user_name
                                                }
                                            </td>
                                            <td>
                                                @if (item.Faculty.faculty_name == null)
                                                {
                                                    <span>Chưa có khoa</span>
                                                }
                                                else
                                                {
                                                    @item.Faculty.faculty_name
                                                }
                                            </td>
                                            <td>
                                                @if (item.department == null)
                                                {
                                                    <span>Chưa thêm bộ môn</span>
                                                }
                                                else
                                                {
                                                    @item.department
                                                }
                                            </td>
                                            <td>
                                                @if (item.AspNetUser.AspNetRoles.Count() < 1)
                                                {
                                                    <span>Chưa thêm vai trò</span>
                                                }
                                                else
                                                {
                                                    @item.AspNetUser.AspNetRoles.FirstOrDefault().Name
                                                }
                                            </td>
                                            <td class="text-center">
                                                <div class="buttons">
                                                    <a class="btn btn-icon btn-primary" data-original-title="Cấp quyền" href="@Url.Action("Edit", "Accounts", new { id = item.account_id })">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
