@model IEnumerable<MonthlyStatement.Models.Faculty>

@{int i = 0;}

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Quản lý khoa</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" id="Search" placeholder="Tìm kiếm" aria-label="Search" data-width="200" style="width: 200px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <div class="col-sm-12 buttons">
                            <a style="color:white" type="button" class="btn btn-primary btn-round" href="@Url.Action("Create", "Faculty")">
                                <i class="fa fa-plus"></i>
                                Tạo khoa mới
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">
                                            STT
                                        </th>
                                        <th>
                                            Tên khoa
                                        </th>
                                        <th class="text-center">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)

                                    {
                                        i = i + 1;
                                        <tr class="Search">
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td>
                                                <a href="@Url.Action("AttendenceList","Faculty")">@item.faculty_name</a>
                                            </td>
                                            <td class="text-center">
                                                <div class="buttons">
                                                    @*<a class="btn btn-icon btn-info" data-original-title="Thông tin" href="@Url.Action("Details", "Faculty", new { id = item.faculty_id })">
                                                            <i class="fas fa-info-circle"></i>
                                                        </a>*@
                                                    <a class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "Faculty", new { id = item.faculty_id })">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
    $("#edit_faculty").click(function () {
        swal({
            title: 'Chỉnh sửa tên khoa',
            buttons: true,
            dangerMode: true,
            content: {
                element: 'input',
                attributes: {
                    placeholder: 'Nhập tên khoa',
                    type: 'text',
                },
            },
        })
            .then((willSave) => {
                if (willSave) {
                    swal('Lưu thành công!', {
                        icon: 'success',
                    });
                }
            });
    });
</script>
