﻿@model  MonthlyStatement.Models.FormDepartmentReport
@using MonthlyStatement.Models
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    int j = 64;
    int k = 0;

    string lstId = "";

    CP25Team04Entities models = new CP25Team04Entities();
    int idKy = ViewBag.PeriodsId;

    var form = models.DepartmentReports.Where(p => p.report_period_id == idKy);
    string emails = User.Identity.Name;
    string accID = models.AspNetUsers.FirstOrDefault(a => a.Email.ToLower().Equals(emails.ToLower().Trim())).Id;
    var formPer = models.DepartmentReports.Where(p => p.report_period_id == idKy && p.account_id.Equals(accID)).ToList();
    var lstCate = ((IEnumerable<Category>)ViewBag.CheckListCategory);
    var perDetail = ((IEnumerable<PersonalReportDetail>)ViewBag.MappingContent);
    int idperiod = Model.report_period_id;
}

@if (Session["faculty"] == null)
{
    <div class="#" role="alert">
        Chưa có khoa. Vui lòng liên hệ thư ký để thêm khoa
        <div>
            <img src="~/assets/img/vlu/khoa.png" class="cangiua">
        </div>
    </div>
}
else if (ViewBag.CheckFormDep == true)
{
    <div class="#" role="alert" style="font-size: 30px; color: black; text-align: center; font-weight: bold;padding:30px">
        Chưa có biểu mẫu báo cáo của tháng này
    </div>
    <div>
        <img src="~/assets/img/vlu/fomm.png" class="cangiua">
    </div>

}
else if (ViewBag.CheckReportDep == true)
{
    <div class="#" role="alert" style="font-size: 30px; color: black; text-align: center; font-weight: bold;padding:30px">
        Bạn đã báo cáo tháng này!
    </div>
    <div>
        <img src="~/assets/img/vlu/formm.png" class="cangiua">
    </div>
}
else
{

    <section class="section">
        <input hidden value="@Model.report_period_id" id="report_period_id" />
        <div class="section-body">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header bg-primary" style="height:100px">
                            <h4 class="text-white" style="font-size:1.75rem">@Model.ReportPeriod.report_period_name</h4>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div id="accordion">

                                    @if (Model.FormDepartmentReportDetails.Count() > 0)
                                    {
                                        foreach (var items in Model.FormDepartmentReportDetails)
                                        {
                                            if (items.Category.category_of_id == null)
                                            {
                                                i = 0;
                                                j++;
                                                <br />
                                                <div class="accordion">
                                                    <div class="card-header collapsed" role="button" data-toggle="collapse" data-target="" aria-expanded="false">
                                                        <h4>
                                                            @(((char)j).ToString()). @items.Category.category_content.ToUpper()
                                                        </h4>
                                                        <div class="card-header-action">
                                                            <a data-collapse="#panel-body-@(((char)j).ToString())" class="btn btn-icon" href="#@(((char)j).ToString())"></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                foreach (var itemss in Model.FormDepartmentReportDetails.Where(c => c.Category.category_of_id == items.category_id && c.Category.category_lv == 2).ToList())
                                                {
                                                    lstId += itemss.category_id + "-";
                                                    i++;
                                                    <div class="accordion-body collapse show" id="panel-body-@(((char)j).ToString())" data-parent="#accordion" style="">
                                                        <div class="col-lg-12 ">
                                                            <input hidden id="dem-@itemss.category_id" value="1" />
                                                            <input hidden id="frmPerDetail-@itemss.category_id" value="@itemss.form_department_report_detail_id" />
                                                            @if (Model.FormDepartmentReportDetails.Where(c => c.Category.category_of_id == itemss.category_id && c.Category.category_lv == 3).Count() < 1)
                                                            {
                                                                <table class="table table-bordered dataTable">
                                                                    <tbody>

                                                                        <tr class="" style="max-width: 50px">
                                                                            <th colspan="2">@(i). @itemss.Category.category_content</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <button style="color:white" data-toggle="modal" class="btn btn-info" data-target="#addMapping">
                                                                                    Tổng hợp nội dung
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        <tr id="formInput-@itemss.category_id">
                                                                            <td colspan="2">
                                                                                <input type="text" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-@itemss.category_id-1">
                                                                                <p hidden id="validation-noidung-@itemss.category_id-1" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr hidden id="append-@itemss.category_id"></tr>
                                                                        <tr>
                                                                            <td colspan="2">
                                                                                <div class="row">
                                                                                    <div class="col">
                                                                                        <button role="button" name="@itemss.category_id" id="xoanoidung-@itemss.category_id" class="btn btn-icon btn-sm btn-danger container" data-uppercatedelete='@itemss.category_id'><i class="fas fa-times"></i></button>
                                                                                    </div>
                                                                                    <div class="col">
                                                                                        <button role="button" name="@itemss.category_id" id="themnoidung-@itemss.category_id" class="btn btn-icon btn-sm btn-success container" data-uppercateadd='@itemss.category_id'><i class="fas fa-plus-circle"></i></button>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            }
                                                            else
                                                            {
                                                                <table class="table table-bordered dataTable">
                                                                    <tbody>
                                                                        <tr class="" style="max-width: 50px">
                                                                            <th colspan="2">@(i). @itemss.Category.category_content</th>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                <button style="color:white" data-toggle="modal" class="btn btn-info" data-target="#addMapping">
                                                                                    Tổng hợp nội dung
                                                                                </button>
                                                                            </td>
                                                                        </tr>
                                                                        @if (!Model.FormDepartmentReportDetails.Any(c => c.Category.category_of_id == itemss.category_id && c.Category.category_lv == 3))
                                                                        {
                                                                            <tr id="formInput-@itemss.category_id">
                                                                                <td colspan="2">
                                                                                    <input value="@itemss.Category.category_content" type="text" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-@itemss.category_id-1">
                                                                                    <p hidden id="validation-noidung-@itemss.category_id-1" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr hidden id="append-@itemss.category_id"></tr>
                                                                        }
                                                                        else
                                                                        {
                                                                            <tr id="formInput-@itemss.category_id" class="d-none">
                                                                                <td colspan="2">
                                                                                    <input value="@itemss.Category.category_content" type="text" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-@itemss.category_id-1">
                                                                                    <p hidden id="validation-noidung-@itemss.category_id-1" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr hidden id="append-@itemss.category_id"></tr>
                                                                        }
                                                                    </tbody>
                                                                </table>
                                                                <div>
                                                                    <div class="section-title mt-0 row" style="margin-bottom:1px; padding-left:0.25rem">
                                                                        @foreach (var itemsss in Model.FormDepartmentReportDetails.Where(c => c.Category.category_of_id == itemss.category_id && c.Category.category_lv == 3).ToList())
                                                                        {
                                                                            lstId += itemsss.category_id + "-";
                                                                            k++;
                                                                            <div class="col">
                                                                                <input hidden id="dem-@itemsss.category_id" value="1" />
                                                                                <input hidden id="frmPerDetail-@itemsss.category_id" value="@itemsss.form_department_report_detail_id" />
                                                                                <table class="table table-bordered dataTable">
                                                                                    <tbody>
                                                                                        <tr class="boxdanhmuc">
                                                                                            <th colspan="2">@itemsss.Category.category_content</th>
                                                                                        </tr>
                                                                                        <tr id="formInput-@itemsss.category_id-">
                                                                                            <td colspan="2">
                                                                                                <input type="text" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-@itemsss.category_id-1">
                                                                                                <p hidden id="validation-noidung-@itemsss.category_id-1" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>
                                                                                            </td>
                                                                                        </tr>
                                                                                        <tr hidden id="append-@itemsss.category_id"></tr>
                                                                                        <tr>
                                                                                            <td colspan="2">
                                                                                                <div class="row">
                                                                                                    <div class="col">
                                                                                                        <button role="button" name="@itemsss.category_id" id="xoanoidung-@itemsss.category_id" class="btn btn-icon btn-sm btn-danger container" data-uppercatedelete='@itemss.category_id'><i class="fas fa-times"></i></button>
                                                                                                    </div>
                                                                                                    <div class="col">
                                                                                                        <button role="button" name="@itemsss.category_id" id="themnoidung-@itemsss.category_id" class="btn btn-icon btn-sm btn-success container" data-uppercateadd='@itemss.category_id'><i class="fas fa-plus-circle"></i></button>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                        </div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            }

                                                        </div>
                                                    </div>

                                                }
                                            }
                                        }
                                    }

                                </div>

                                <input hidden id="lstCategory" value="@lstId.Substring(0, lstId.Length - 1)" />
                                <div class="accordion">
                                    <div class="card-header collapsed" role="button" data-toggle="collapse" data-target="" aria-expanded="false">
                                        <h4>
                                            @(((char)(++j)).ToString()). MINH CHỨNG
                                        </h4>
                                        <div class="card-header-action">
                                            <a data-collapse="#panel-body-A" class="btn btn-icon" href="#A"></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="file" class="form-control" id="minhChungFile">
                                    <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                </div>
                                <div class="text-right mt-3">
                                    @*<a id="btnSubmit" role="button" class="btn btn-primary" href="@Url.Action("SendMailDepartmentAsync","NotificationDepartment")">Lưu báo cáo</a>*@
                                    <button id="btnSubmit" role="button" class="btn btn-primary">Lưu báo cáo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<div class="modal fade" id="addMapping" tabindex="-1" role="dialog" aria-labelledby="formModal"
     aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Tổng hợp nội dung giảng viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @if (ViewBag.CheckMapping == true)
            {
                <div class="#" role="alert" style="font-size: 30px; color: black; text-align: center; font-weight: bold;padding:30px">
                    Chưa có thông tin tổng hợp
                </div>
            }
            else
            {
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-striped" id="table-mapping">
                            <thead>
                                <tr role="row">
                                    <th>
                                        Cấp danh mục
                                    </th>
                                    <th>
                                        Tên danh mục
                                    </th>
                                    <th>
                                        Chọn
                                    </th>
                                </tr>
                            </thead>
                            @foreach (var item in lstCate.Where(c => c.category_of_id == null).ToList())
                            {
                                <tbody>
                                    <tr>

                                        <td>LV 1</td>
                                        <td style="font-weight:bold">
                                            @item.category_content
                                        </td>
                                        <td></td>
                                    </tr>
                                </tbody>
                                foreach (var items in lstCate.Where(c => c.category_of_id == item.category_id).ToList())
                                {
                                    <tbody>
                                        <tr>

                                            <td>LV 2</td>
                                            <td>
                                                <div class="media mt-3">
                                                    <div class="pr-3" href="#">
                                                    </div>@items.category_content
                                                </div>
                                            </td>
                                            <td></td>

                                        </tr>
                                    </tbody>
                                    foreach (var itemss in lstCate.Where(c => c.category_of_id == items.category_id).ToList())
                                    {
                                        var perDetailMapping = perDetail.Where(per => per.FormPersonalReportDetail.category_id == itemss.category_id).GroupBy(f => f.personal_report_content.ToLower()).ToList();
                                        <tbody>
                                            <tr>

                                                <td>LV 3</td>
                                                <td>
                                                    <div class="media mt-3">
                                                        <div class="pr-5" href="#">
                                                        </div>@itemss.category_content
                                                        @for (int y = 0; y < perDetailMapping.Count; y++)
                                                        {
                                                            <input data-id="@perDetailMapping[y].FirstOrDefault().personal_report_detail_id" type="hidden" class="perDetailMapping-@itemss.category_id" value="@perDetailMapping[y].Key" />
                                                        }
                                                    </div>
                                                </td>
                                                <td>
                                                    <input id="checkboxMapping-@itemss.category_id" value="@itemss.category_id" class="mapping-checkbox" type="checkbox" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    }
                                }
                            }
                        </table>
                        <div class="text-right mt-3">
                            <button id="idMappingContentBtn" role="button" class="btn btn-primary">Lưu nội dung</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    //Mapping nội dung
    $('#idMappingContentBtn').on('click', function () {
        var boxes = $('.mapping-checkbox');
        boxes.each(function () {
            var categoryid = $(this).val();
            var mappingContent = $('.perDetailMapping-' + categoryid);
            mappingContent.each(function () {
                var inputCount = Number($('#dem-' + categoryid).val()) + 1;
                var mappingId = $(this).data('id');
                if ($('#mappingPer-' + mappingId).length == 0 && $('#checkboxMapping-' + categoryid).is(':checked')) {
                    $('#append-' + categoryid).replaceWith('<tr id="formInput-' + categoryid + '-' + inputCount + '"><td colspan="2"><input readonly type="text" value="'
                        + $(this).val() + '" class="form-control" id="noidung-' + categoryid + '-' + inputCount + '">'
                        + '<p hidden id="validation-noidung-' + categoryid + '-' + inputCount + '" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>'
                        + '<input type="hidden" id="mappingPer-' + mappingId + '"/>'
                        + '</td ></tr > <tr hidden id="append-' + categoryid + '"></tr>');
                    $('#dem-' + categoryid).val(inputCount);
                }
                else if (!($('#checkboxMapping-' + categoryid).is(':checked'))) {
                    console.log(inputCount)
                    $('#formInput-' + categoryid + '-' + inputCount).remove();
                    $('#dem-' + categoryid).val((inputCount - 1));
                }
            });
        });
    });
    //Thêm input
    $('[id^="themnoidung-"]').on('click', function (e) {
        var upperCateAdd = $(this).data('uppercateadd');
        $('[data-uppercateadd="' + upperCateAdd + '"]').each(function () {
            var id = $(this).attr("name");
            var inputCount = Number($('#dem-' + id).val()) + 1;
            $('#append-' + id).replaceWith('<tr id="formInput-' + id + '-' + inputCount + '"><td colspan="2"><input type="text" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-' + id + '-' + inputCount + '">'
                + '<p hidden id="validation-noidung-' + id + '-' + inputCount + '" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>'
                + '</td ></tr > <tr hidden id="append-' + id + '"></tr>');
            $('#dem-' + id).val(inputCount);
        });
    });
    //xóa input
    $('[id^="xoanoidung-"]').on('click', function () {
        var upperCateDelete = $(this).data('uppercatedelete');
        $('[data-uppercatedelete="' + upperCateDelete + '"]').each(function () {
            let id = $(this).attr("name");
            let inputCount = Number($('#dem-' + id).val());
            if (inputCount > 1) {
                $('#formInput-' + id + '-' + inputCount).remove();
                $('#dem-' + id).val((inputCount - 1));
            }
        });

    });
    //nút lưu báo cáo
    $('#btnSubmit').on('click', function () {
        var lstCate = $('#lstCategory').val().split('-');
        var datas = ""; //Chuỗi data phân tách nhau bởi các ký tự: idform1=noidung1-noidung2~idform2=noidung1-noidung2
        var check = true;
        for (var i = 0; i < lstCate.length; i++) {
            if (Number($('#dem-' + lstCate[i]).val()) < 2) {
                $('#validation-noidung-' + lstCate[i] + "-1").hide();
                if ($('#noidung-' + lstCate[i] + "-1").val().trim().length < 1) {
                    check = false;
                    $('#validation-noidung-' + lstCate[i] + "-1").text("Vui lòng không bỏ trống thông tin này!").show().prop("hidden", false);
                } else {
                    datas += $('#frmPerDetail-' + lstCate[i]).val() + "=" + $('#noidung-' + lstCate[i] + "-1").val().trim() + "~";
                }
            }
            else {
                datas += $('#frmPerDetail-' + lstCate[i]).val() + "=";
                for (var j = 1; j <= Number($('#dem-' + lstCate[i]).val()); j++) {
                    $('#validation-noidung-' + lstCate[i] + "-" + j).hide();
                    if ($('#noidung-' + lstCate[i] + "-" + j).val().trim().length < 1) {
                        check = false;
                        $('#validation-noidung-' + lstCate[i] + "-" + j).text("Vui lòng không bỏ trống thông tin này!").show().prop("hidden", false);
                    } else {
                        if (Number($('#dem-' + lstCate[i]).val()) > j)
                            datas += $('#noidung-' + lstCate[i] + "-" + j).val().trim() + "-";
                        else
                            datas += $('#noidung-' + lstCate[i] + "-" + j).val().trim() + "~";
                    }
                }
            }
        }

        if (check == true) {
            var formData = new FormData();
            formData.append("fileMinhChung", $('#minhChungFile')[0].files[0]);
            formData.append("data", datas.substring(0, datas.length - 1));
            formData.append("reportperiodid", $('#report_period_id').val());

            $.ajax({
                url: $('#requestUrl').val() + 'Department/FormDepartmentReport/submitFormReport',
                type: 'POST',
                dataType: 'html',
                contentType: false,
                processData: false,
                data: formData
            }).done(function (ketqua) {
                if (ketqua == "Success") {
                    swal('Thành công', 'Báo cáo tháng thành công', 'success').then(function () {
                        location.reload();
                    });
                } else {
                    swal('Thất bại', 'Báo cáo không thành công, hãy chắc chắn bạn đã điền đầy đủ thông tin trong hồ sơ', 'error');
                }
            });
        }
    });
    $("#mapping").click(function () {
        $(document).ready(function () {
            $('#table-mapping').DataTable();
            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.profile-pic').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });

            $(".upload-button").on('click', function () {
                $(".file-upload").click();
            });
        });
    }); $(document).ready(function () {
        //radio button lv3
        $('[id*="categorylv3-"]').on('input', function () {
            var idlv1 = $(this).attr('name').split('-')[0];
            var idlv2 = $(this).attr('name').split('-')[1];

            if ($(this).prop('checked')) {
                if ($('#' + idlv1 + 'categorylv2-' + idlv2).prop('checked') == false) {
                    $('#' + idlv1 + 'categorylv2-' + idlv2).prop('checked', true);
                    $('#categorylv1-' + idlv1).prop('checked', true);
                }
            }
        });
        //radio button lv2
        $('[id*="categorylv2-"]').on('input', function () {
            var id = $(this).attr('name');
            if ($(this).prop('checked')) {
                if ($('#categorylv1-' + id).prop('checked') == false) {
                    $('#categorylv1-' + id).prop('checked', true);
                }
            } else {
                var check = false;
                $('[id^="' + id + 'categorylv2-"]').each(function () {
                    if ($(this).prop('checked')) {
                        check = true;
                    }
                });
                if (check == false) {
                    $('#categorylv1-' + id).prop('checked', false);
                }
            }
        });
        //radio button lv1
        $('[id*="categorylv1-"]').on('input', function () {
            var id = $(this).attr('name');
            if ($(this).prop('checked') == false) {
                $('[name="' + id + '"]').each(function () {
                    $(this).prop('checked', false);
                });
            }
        });
    });
</script>
<style>
    img.cangiua {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
    }
</style>