@model IEnumerable<MonthlyStatement.Models.ReportYear>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card-body">
                    <div class="card">
                        <div class="card-header bg-primary" style="height:100px">
                            <h4 class="text-white" style="font-size:1.75rem">Quản lý các năm báo cáo</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div hidden="hidden" id="appendata"></div>

                        @foreach (var item in Model)
                        {
                            if (item.year <= DateTime.Now.Year)
                            {
                                <div class="col-12 col-md-6 col-lg-3">
                                    <a class="card card-success" href="@Url.Action("FacReportPerior","FacReport", new {id = item.report_year_id})">
                                        <div class="card-header">
                                            <h4>Năm @item.year</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>Các kỳ báo cáo năm @item.year</p>
                                        </div>
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="col-12 col-md-6 col-lg-3" style="pointer-events:none; opacity:0.4">
                                    <a class="card card-secondary" href="#">
                                        <div class="card-header">
                                            <h4>Năm @item.year</h4>
                                        </div>
                                        <div class="card-body">
                                            <p>Các kỳ báo cáo năm @item.year</p>
                                        </div>
                                    </a>
                                </div>
                            }

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>