@model IEnumerable<MonthlyStatement.Models.Category>

@{
    int i = 0;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel-header bg-primary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <h2 class="text-white pb-2 fw-bold">Quản lý danh mục</h2>
            </div>
        </div>
    </div>
</div>

<div class="page-inner mt--5">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="add-row_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 ">
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <a style="color:white" type="button" class="btn bg-primary-gradient btn-round" href="@Url.Action("Create", "Categories")">
                                        <i class="fa fa-plus"></i>
                                        Tạo danh mục cha
                                    </a>
                                    <a style="color:white" type="button" class="btn bg-danger-gradient btn-round" href="@Url.Action("Create1", "Categories")">
                                        <i class="fa fa-plus"></i>
                                        Tạo danh mục con
                                    </a>
                                </div>
                                <div class="col-sm-12 col-md-12">
                                    <div class="dataTables_filter">
                                        <label>
                                            Tìm kiếm
                                            <input class="form-control btn-round" type="text" id="Search" aria-label="Search" data-width="200">
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table id="add-row" class="display table table-striped table-hover dataTable" role="grid" aria-describedby="add-row_info">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Danh mục</th>
                                                <th style="width: 3%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var item in Model.Where(c => c.category_of_id == null).ToList())

                                            {
                                                i = i + 1;
                                                int j = 0;


                                                <tr class="Search">
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td style="font-weight:bold">
                                                        @item.category_content
                                                    </td>
                                                    <td>
                                                        <div class="form-button-action">
                                                            <a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-info" data-original-title="Thông tin danh mục" href="@Url.Action("Details", "Categories", new { id = item.category_id })" target="_blank">
                                                                <i class="fa fa-info"></i>
                                                            </a>
                                                            &nbsp;
                                                            <a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "Categories", new { id = item.category_id })" target="_blank">
                                                                <i class="fa fa-edit"></i>
                                                            </a>
                                                            &nbsp;
                                                            @*<a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-danger" data-original-title="Xóa" href="@Url.Action("Delete", "Categories", new { id = item.category_id })" target="_blank">
                                                                <i class="fas fa-ban"></i>
                                                            </a>*@
                                                        </div>
                                                    </td>

                                                </tr>

                                                foreach (var items in Model.Where(c => c.category_of_id == item.category_id).ToList())

                                                {
                                                    j++;
                                                    <tr class="Search">
                                                        <td>
                                                            @(i).@(j)
                                                        </td>
                                                        <td>
                                                            &emsp;
                                                            &emsp;
                                                            @items.category_content
                                                        </td>
                                                        <td>
                                                            <div class="form-button-action">
                                                                <a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-info" data-original-title="Thông tin danh mục" href="@Url.Action("Details", "Categories", new { id = items.category_id })" target="_blank">
                                                                    <i class="fa fa-info"></i>
                                                                </a>
                                                                &nbsp;
                                                                <a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "Categories", new { id = items.category_id })" target="_blank">
                                                                    <i class="fa fa-edit"></i>
                                                                </a>
                                                                &nbsp;
                                                                @*<a style="width:1px" type="button" data-toggle="tooltip" title="" class="btn btn-icon btn-danger" data-original-title="Xóa" href="@Url.Action("Delete", "Categories", new { id = items.category_id })" target="_blank">
                                                                    <i class="fas fa-ban"></i>
                                                                </a>*@
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });
    });
</script>
