@model IEnumerable<MonthlyStatement.Models.Category>

@{
    int i = 0;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Quản lý danh mục</h4>
                        <div class="card-header-form">
                            <form>
                                <div class="input-group">
                                    <input class="form-control" type="text" id="Search" placeholder="Tìm kiếm" aria-label="Search" data-width="200" style="width: 200px;">
                                    <div class="input-group-btn">
                                        <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <div class="col-sm-12 buttons">
                            <a style="color:white" type="button" class="btn btn-warning btn-round" href="@Url.Action("Create", "Categories")">
                                <i class="fa fa-plus"></i>
                                Tạo danh mục cha
                            </a>
                            <a style="color:white" type="button" class="btn btn-danger btn-round" href="@Url.Action("Create1", "Categories")">
                                <i class="fa fa-plus"></i>
                                Tạo danh mục con
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                                <thead>
                                    <tr role="row">
                                        <th class="text-center">
                                            STT
                                        </th>
                                        <th>Danh mục</th>
                                        <th class="text-center">

                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(c => c.category_of_id == null).ToList())

                                    {
                                        i = i + 1;
                                        int j = 0;

                                        <tr class="Search">
                                            <td class="text-center">
                                                @i
                                            </td>
                                            <td style="font-weight:bold">
                                                @item.category_content
                                            </td>
                                            <td class="text-center">
                                                <div class="buttons">
                                                    <a class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "Categories", new { id = item.category_id })">
                                                        <i class="far fa-edit"></i>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        foreach (var items in Model.Where(c => c.category_of_id == item.category_id).ToList())

                                        {
                                            j++;
                                            <tr class="Search">
                                                <td class="text-center">
                                                    @(i).@(j)
                                                </td>
                                                <td>
                                                    &emsp;
                                                    &emsp;
                                                    @items.category_content
                                                </td>
                                                <td class="text-center">
                                                    <div class="buttons">
                                                        <a class="btn btn-icon btn-primary" data-original-title="Sửa" href="@Url.Action("Edit", "Categories", new { id = items.category_id })">
                                                            <i class="far fa-edit"></i>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("#Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });

        @*$("#them_danh_muc_cha").click(function () {
            swal({
                title: 'Thêm danh mục cha?',
                text: 'Bạn có muốn thêm danh mục cha không?',
                icon: 'warning',
                buttons: true,
                dangerMode: true,
            })
                .then((willAdd) => {
                    if (willAdd) {
                        $.ajax({
                            type: "POST",
                            traditional: true,
                            async: false,
                            cache: false,
                            url: $('#requestUrl').val() + 'Categories/Create',
                            context: document.body,
                            success: function (result) {
                                if (result == "Success") {
                                    $("#appendate").replaceWith("");
                                    $("#them_danh_muc_cha").replaceWith("");
                                    swal('Thêm thành công', {
                                        icon: 'success',
                                    });
                                } else {
                                    swal(result, {
                                        icon: 'error',
                                    });
                                }
                            },
                            error: function (dmch) {
                                swal(xhr.responseText, {
                                    icon: 'error',
                                });
                                //debugger;
                                console.log(xhr.responseText);
                                alert("Error has occurred..");
                            }
                        });

                    }
                });
        });*@

    });
</script>
