@RenderSection("scripts", required: false)

<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>Admin Monthly Statement</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/assets/css/app.min.css" />
    <link rel="stylesheet" href="~/assets/bundles/datatables/datatables.min.css">
    <link rel="stylesheet" href="~/assets/bundles/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <link rel="stylesheet" href="~/assets/css/components.css" />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/assets/css/custom.css" />
    <link rel="stylesheet" href="~/assets/bundles/pretty-checkbox/pretty-checkbox.min.css">
    <link rel="stylesheet" href="~/assets/bundles/dropzonejs/dropzone.css">
    <link rel='shortcut icon' type='image/x-icon' href='~/assets/img/vlu/logo.png' />
</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            @{
                Html.RenderPartial("_NavBarPartialView");
            }
            <div class="main-sidebar sidebar-style-2" style="background-image: linear-gradient(rgba(241, 23, 52, 0.9), rgba(20, 13, 18, 0.9)),url(../../assets/img/vanlangcs3.jpg); background-position: center; background-repeat: no-repeat; background-size: cover">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a href="@Url.Action("Index", "Home", new { Area = "" })">
                            <img alt="image" src="~/assets/img/vlu/logo.png" class="header-logo" /> <span class="logo-name" style="color:#fff">Văn Lang</span>
                        </a>
                    </div>
                    @if (User.IsInRole("Quản trị viên"))
                    {
                        <ul class="sidebar-menu">
                            <li class=@(ViewBag.Title == "Quản lý tài quản" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "Accounts", new { Area = "Admin" })" class="nav-link"><i data-feather="user-check"></i><span>Quản lý tài khoản</span></a>
                            </li>
                            <li class=@(ViewBag.Title == "Quản lý khoa" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "Faculty", new { Area = "Admin" })" class="nav-link"><i data-feather="book"></i><span>Quản lý khoa</span></a>
                            </li>
                            <li class=@(ViewBag.Title == "Quản lý danh mục" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "Categories", new { Area = "Admin" })" class="nav-link"><i data-feather="grid"></i><span>Quản lý danh mục</span></a>
                            </li>
                            <li class="dropdown">
                            <li class=@(ViewBag.Title == "Quản lý báo cáo" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "YearReport", new { Area = "Admin" })" class="nav-link"><i data-feather="briefcase"></i><span>Quản lý kỳ báo cáo</span></a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="menu-toggle nav-link has-dropdown"><i data-feather="file"></i><span>Quản lý báo cáo</span></a>
                                <ul class="dropdown-menu">
                                    <li><a class="nav-link" href="@Url.Action("Index", "ListReportDepartment", new { Area = "Admin" })">Bộ môn</a></li>
                                    <li><a class="nav-link" href="@Url.Action("Index", "ListReportPersonal", new { Area = "Admin" })">Cá nhân</a></li>
                                </ul>
                            </li>
                            <li class=@(ViewBag.Title == "Thống kê" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "Statistical", new { Area = "Admin" })" class="nav-linkn"><i data-feather="bar-chart"></i><span>Thống kê</span></a>
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Nhân viên - Giảng viên"))
                    {
                        <ul class="sidebar-menu">
                            <li class=@(ViewBag.Title == "Quản lý báo báo" ? "active" : "nav-item")>
                                <a href="@Url.Action("Personal", "Report", new { Area = "Personal" })" class="nav-link"><i data-feather="file"></i><span>Quản lý báo cáo</span></a>
                            </li>
                            <li class=@(ViewBag.Title == "Quản lý biểu mẫu" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "FormReport", new { Area = "Personal" })" class="nav-link"><i data-feather="edit"></i><span>Quản lý biểu mẫu</span></a>
                            </li>
                            <li class="dropdown">
                            <li class=@(ViewBag.Title == "Thống kê" ? "active" : "nav-item")>
                                <a href="#" class="nav-link"><i data-feather="briefcase"></i><span>Thống kê</span></a>
                            </li>
                        </ul>
                    }
                    else if (User.IsInRole("Ban phòng khoa"))
                    {
                        <ul class="sidebar-menu">
                            <li class=@(ViewBag.Title == "Quản lý tham dự" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "FacManager", new { Area = "FacultyAreas" })" class="nav-link"><i data-feather="users"></i><span>Quản lý tham dự</span></a>
                            </li>
                            <li class=@(ViewBag.Title == "Quản lý báo cáo" ? "active" : "nav-item")>
                                <a href="@Url.Action("Index", "FacReport", new { Area = "FacultyAreas" })" class="nav-link"><i data-feather="edit"></i><span>Quản lý báo cáo</span></a>
                            </li>
                            <li class="dropdown">
                            <li class=@(ViewBag.Title == "Thống kê" ? "active" : "nav-item")>
                                <a href="#" class="nav-link"><i data-feather="briefcase"></i><span>Thống kê</span></a>
                            </li>
                        </ul>
                    }
                </aside>
            </div>
            <!-- Main Content -->
            <div class="main-content">
                @RenderBody()
            </div>
        </div>
    </div>
    <input hidden="hidden" id="requestUrl" value="@Url.Content("~")" />

    <!-- General JS Scripts -->
    <script src="~/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/bundles/sweetalert/sweetalert.min.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/assets/bundles/datatables/datatables.min.js"></script>
    <script src="~/assets/bundles/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/assets/bundles/dropzonejs/min/dropzone.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/assets/js/page/advance-table.js"></script>
    <script src="~/assets/js/page/auth-register.js"></script>
    <script src="~/assets/js/page/calendar.js"></script>
    <script src="~/assets/js/page/chart-amchart.js"></script>
    <script src="~/assets/js/page/chart-apexcharts.js"></script>
    <script src="~/assets/js/page/chart-chartjs.js"></script>
    <script src="~/assets/js/page/chart-echarts.js"></script>
    <script src="~/assets/js/page/chart-morris.js"></script>
    <script src="~/assets/js/page/chat.js"></script>
    <script src="~/assets/js/page/ckeditor.js"></script>
    <script src="~/assets/js/page/contact.js"></script>
    <script src="~/assets/js/page/create-post.js"></script>
    <script src="~/assets/js/page/datatables.js"></script>
    <script src="~/assets/js/page/editable-table.js"></script>
    <script src="~/assets/js/page/form-wizard.js"></script>
    <script src="~/assets/js/page/forms-advanced-forms.js"></script>
    <script src="~/assets/js/page/gallery1.js"></script>
    <script src="~/assets/js/page/gmaps-advanced-route.js"></script>
    <script src="~/assets/js/page/gmaps-draggable-marker.js"></script>
    <script src="~/assets/js/page/gmaps-geocoding.js"></script>
    <script src="~/assets/js/page/gmaps-geolocation.js"></script>
    <script src="~/assets/js/page/gmaps-marker.js"></script>
    <script src="~/assets/js/page/gmaps-multiple-marker.js"></script>
    <script src="~/assets/js/page/gmaps-route.js"></script>
    <script src="~/assets/js/page/gmaps-simple.js"></script>
    <script src="~/assets/js/page/index.js"></script>
    <script src="~/assets/js/page/ion-icons.js"></script>
    <script src="~/assets/js/page/light-gallery.js"></script>
    <script src="~/assets/js/page/multiple-upload.js"></script>
    <script src="~/assets/js/page/owl-carousel.js"></script>
    <script src="~/assets/js/page/portfolio.js"></script>
    <script src="~/assets/js/page/posts.js"></script>
    <script src="~/assets/js/page/sparkline.js"></script>
    <script src="~/assets/js/page/sweetalert.js"></script>
    <script src="~/assets/js/page/toastr.js"></script>
    <script src="~/assets/js/page/vector-map.js"></script>
    <script src="~/assets/js/page/widget-chart.js"></script>
    <script src="~/assets/js/page/widget-data.js"></script>
    <!-- Template JS File -->
    <script src="~/assets/js/scripts.js"></script>

    <!-- Custom JS File -->
    <script src="~/assets/js/custom.js"></script>


    @*<script type="text/javascript">
            var no = 10;
            if (matchMedia('only screen and (max-width: 767px)').matches) {
                no = 10
            }
            let hoaArgs = [
                [
                    'https://sharethuthuat.com/wp-content/plugins/themetot-tet/images/hoadao.png',
                    15],
                [
                    'https://sharethuthuat.com/wp-content/plugins/themetot-tet/images/hoamai.png',
                    30],
            ];
            let img_url = '';
            let imgW = 0;
            var hidesnowtime = 0;
            var color_snow = '#fff';
            var snowdistance = 'windowheight'; // windowheight or pageheight;
            var ie4up = (document.all) ? 1 : 0;
            var ns6up = (document.getElementById && !document.all) ? 1 : 0;

            function iecompattest() {
                return (document.compatMode && document.compatMode != 'BackCompat') ? document.documentElement : document.body
            }

            var dx, xp, yp;
            var am, stx, sty;
            var i, doc_width = 800, doc_height = 600;
            if (ns6up) {
                doc_width = self.innerWidth;
                doc_height = self.innerHeight
            } else if (ie4up) {
                doc_width = iecompattest().clientWidth;
                doc_height = iecompattest().clientHeight
            }
            dx = new Array();
            xp = new Array();
            yp = new Array();
            am = new Array();
            stx = new Array();
            sty = new Array();
            for (i = 0; i < no; ++i) {
                dx[i] = 0;
                xp[i] = Math.random() * (doc_width - 50);
                yp[i] = Math.random() * doc_height;
                am[i] = Math.random() * 20;
                stx[i] = 0.02 + Math.random() / 10;
                sty[i] = 0.7 + Math.random();
                if (ie4up || ns6up) {
                    let hoaRandom = Math.floor(Math.random() * hoaArgs.length);
                    img_url = hoaArgs[hoaRandom][0];
                    imgW = hoaArgs[hoaRandom][1];
                    document.write('<div id="dot' + i + '" style="POSITION:fixed;Z-INDEX:' + (99 + i) + ';VISIBILITY:visible;TOP:15px;LEFT:15px;pointer-events: none;width:' + imgW + 'px"><span style="font-size:18px;color:' + color_snow + '"><img src="' + img_url + '" alt=""></span></div>');
                }
            }

            function snowIE_NS6() {
                doc_width = ns6up ? window.innerWidth - 10 : iecompattest().clientWidth - 10;
                doc_height = (window.innerHeight && snowdistance == 'windowheight') ? window.innerHeight : (ie4up && snowdistance == 'windowheight') ? iecompattest().clientHeight : (ie4up && !window.opera && snowdistance == 'pageheight') ? iecompattest().scrollHeight : iecompattest().offsetHeight;
                for (i = 0; i < no; ++i) {
                    yp[i] += sty[i];
                    if (yp[i] > doc_height - 50) {
                        xp[i] = Math.random() * (doc_width - am[i] - 30);
                        yp[i] = 0;
                        stx[i] = 0.02 + Math.random() / 10;
                        sty[i] = 0.7 + Math.random()
                    }
                    dx[i] += stx[i];
                    document.getElementById('dot' + i).style.top = yp[i] + 'px';
                    document.getElementById('dot' + i).style.left = xp[i] + am[i] * Math.sin(dx[i]) + 'px'
                }
                snowtimer = setTimeout('snowIE_NS6()', 10)
            }

            function hidesnow() {
                if (window.snowtimer) {
                    clearTimeout(snowtimer)
                }
                for (i = 0; i < no; i++) document.getElementById('dot' + i).style.visibility = 'hidden'
            }

            if (ie4up || ns6up) {
                snowIE_NS6();
                if (hidesnowtime > 0) setTimeout('hidesnow()', hidesnowtime * 1000)
            }
        </script>*@
</body>

<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>