@model  MonthlyStatement.Models.FormPersonalReport
@using MonthlyStatement.Models
@{
    ViewBag.Title = "PersonalDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    int j = 64;
    string lstId = "";

    CP25Team04Entities models = new CP25Team04Entities();
    int idperiod = Model.report_period_id;
    var form = models.PersonalReports.Where(p => p.report_period_id == idperiod);
    string emails = User.Identity.Name;
    string accID = models.AspNetUsers.FirstOrDefault(a => a.Email.ToLower().Equals(emails.ToLower().Trim())).Id;
    var formPer = models.PersonalReports.Where(p => p.report_period_id == idperiod && p.account_id.Equals(accID));
    int per = formPer.First().personal_report_id;

}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header bg-primary" style="height:100px">
                        <h4 class="text-white" style="font-size:1.75rem">Báo cáo cá nhân</h4>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">

                            @foreach (var items in Model.FormPersonalReportDetails)
                            {
                                if (items.Category.category_of_id == null)
                                {
                                    i = 0;
                                    j++;
                                    <br />
                                    <div class="section-title mt-1" style="font-weight:bold">
                                        @(((char) j).ToString()). @items.Category.category_content.ToUpper()

                                    </div>
                                }
                                else
                                {
                                    i++;
                                    <div class="section-title mt-0 row" style="margin-bottom:1px; padding-left:0.25rem">
                                        <div class="col-lg-12">
                                            <table class="table table-bordered dataTable">
                                                <tbody>
                                                    <tr class="" style="max-width: 50px">
                                                        <th colspan="2">@(i). @items.Category.category_content</th>
                                                    </tr>
                                                    @if (models.PersonalReportDetails.Where(p => p.form_personal_report_detail_id == items.form_personal_report_detail_id && p.personal_report_id == per).Count() > 0)
                                                    {
                                                        int inputIndex = 0;
                                                        foreach (var itemss in models.PersonalReportDetails.Where(p => p.form_personal_report_detail_id == items.form_personal_report_detail_id && p.personal_report_id == per).ToList())
                                                        {
                                                            inputIndex++;
                                                            <tr id="formInput-@items.category_id-@inputIndex">
                                                                <td colspan="2">
                                                                    <input type="text" value="@itemss.personal_report_content" class="form-control" placeholder="Nhập nội dung mục báo cáo" id="noidung-@items.category_id-@inputIndex" readonly>
                                                                    <p hidden id="validation-noidung-@items.category_id-@inputIndex" class="text-danger" style="font-size: 12px; margin-left: 2px; margin-bottom: -15px"></p>
                                                                </td>
                                                            </tr>
                                                        }
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                }
                            }
                            <div class="section-title mt-3" style="font-weight:bold">
                                <label>@(((char) (++j)).ToString()). MINH CHỨNG</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


